<div id="<%= dom_id(discussion) %>", class="mb-2">
  <h2 class="text-3xl"><%= discussion.name %></h2>
  Pinned: <%= discussion.pinned %> | Closed: <%= discussion.closed %>

  <div class="mt-4">
    <%= link_to "Edit", edit_discussion_path(discussion), class: "py-2 px-2 font-medium text-white bg-blue-500 rounded hover:bg-blue-400 transition duration-300" %>
  </div>
</div>
