<%= form_with model: discussion do |f| %>
  <%= render partial: "shared/form_errors", locals: { form: f } %>

  <div class="mb-4">
    <%= f.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
    <%= f.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "How do I...?" %>
  </div>

  <div class="flex items-start mb-4">
    <div class="flex items-center h-5">
      <%= f.check_box :pinned, class: "w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" %>
    </div>
    <%= f.label :pinned, class: "ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
  </div>

  <div class="flex items-start mb-4">
    <div class="flex items-center h-5">
      <%= f.check_box :closed, class: "w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" %>
    </div>
    <%= f.label :closed, class: "ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
  </div>

  <% if discussion.new_record? %>
    <%= f.fields_for :posts do |p| %>
      <div class="mb-4">
        <%= p.rich_text_area :body, placeholder: "Kickoff the discussion" %>
      </div>
    <% end %>
  <% end %>

  <div class="mb-4">
    <%= f.submit class: "py-2 px-2 font-medium text-white bg-blue-500 rounded hover:bg-blue-400 transition duration-300" %>
  </div>
<% end %>