<% if @category.present? %>
  <%= turbo_stream_from @category %>
<% else %>
  <%= turbo_stream_from 'discussions' %>
<% end %>

<div class="flex justify-between align-items mb-4">
  <h1 class="text-4xl">Discussions</h1>
  <%= link_to "New discussion", new_discussion_path, class: "py-2 px-2 font-medium text-white bg-blue-500 rounded hover:bg-blue-400 transition duration-300" %>
</div>

<div class="flex gap-10">
  <div class="w-2/6 md:w-1/6">
    <%= turbo_stream_from "categories" %>
    <h3 class="text-2xl">Categories</h3>
    <div id="categories">
      <%= render partial: "categories/category", collection: Category.sorted %>
    </div>
  </div>

  <div class="w-4/6 md:5/6">
    <% if @category %>
      <h4 class="text-xl">Viewing discussion in <%= @category.name %></h4>
    <% end %>
    <% if params[:page].blank? || params[:page].eql?('1') %>
    <div id="discussions"></div>
    <% end %>
    <%= render partial: "discussions/discussion", collection: @discussions %>
    <hr class="mb-4">

    <%== pagy_nav(@pagy) %>
  </div>
</div>