<nav class="bg-white shadow-lg">
  <div class="container mx-auto px-2">
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <div class="flex items-center py-4 px-2">
          <!-- Website Logo -->
          <%= link_to "Hotwire Forums", root_path, class: "font-semibold text-gray-500 text-lg" %>
        </div>
        <!-- Primary Navbar items -->
        <div class="hidden md:flex items-center space-x-1">
          <%= link_to "Discussions", discussions_path, class: "py-4 px-2 text-blue-500 border-b-4 border-blue-500 font-semibold" %>
        </div>
      </div>
      <!-- Secondary Navbar items -->
      <div class="hidden md:flex items-center space-x-3 ">
        <% if user_signed_in? %>
          <%= link_to Current.user.username, edit_user_registration_path, class: "py-2 px-2 font-medium text-gray-500 rounded hover:bg-blue-500 hover:text-white transition duration-300"  %>
          <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "py-2 px-2 font-medium text-gray-500 rounded hover:bg-blue-500 hover:text-white transition duration-300" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "py-2 px-2 font-medium text-gray-500 rounded hover:bg-blue-500 hover:text-white transition duration-300" %>
          <%= link_to "Sign up", new_user_registration_path, class: "py-2 px-2 font-medium text-white bg-blue-500 rounded hover:bg-blue-400 transition duration-300" %>
        <% end %>
      </div>
      <!-- Mobile menu button -->
      <div class="md:hidden flex items-center">
        <button class="outline-none mobile-menu-button">
          <svg class=" w-6 h-6 text-gray-500 hover:text-blue-500 "
               x-show="!showMenu"
               fill="none"
               stroke-linecap="round"
               stroke-linejoin="round"
               stroke-width="2"
               viewBox="0 0 24 24"
               stroke="currentColor"
          >
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- mobile menu -->
  <div class="hidden mobile-menu">
    <ul class="">
      <li class="active"><%= link_to "Home", root_path, class: "block text-sm px-2 py-4 text-white bg-blue-500 font-semibold" %></li>
    </ul>
  </div>
</nav>

<script>
  var button = document.querySelector("button.mobile-menu-button");
  var menu = document.querySelector(".mobile-menu");

  button.addEventListener("click", () => {
      menu.classList.toggle("hidden");
  });
</script>
